<div class="dropdown mx-5 mt-5">
  <button class="btn btn-secondary  dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"  aria-expanded="false">
  Select one
  </button>
  <ul class="dropdown-menu form-select" aria-label="Default select example" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" routerLink="in">STUDENTS IN </a></li>
    <li><a class="dropdown-item" routerLink="out">STUDENTS OUT</a></li>
  </ul>


<div>
<router-outlet></router-outlet>
</div>