<div class="dropdown mx-5 mt-5">
  <button class="btn btn-secondary  dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"  aria-expanded="false">
  Select one
  </button>



  <ul class="dropdown-menu form-select" aria-label="Default select example" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" routerLink="in">STUDENTS IN </a></li>
    <li><a class="dropdown-item" routerLink="out">STUDENTS OUT</a></li>
    <li><a class="dropdown-item" routerLink="range">DATE RANGE DATA</a></li>
  </ul>
<div>



  <div>
    <table   class="table text-dark  mt-5 " >
      <div class="background w-25 ">
      <table class="table table-striped text-dark mx-5 p-5 backc" >
          <thead>
              <tr>
                 <th  ><button  routerLink="data"  class="btn btn-sm btn-danger " >  TOTAL STUDENTS  </button></th>
                  <th  > <button   routerLink="in" class="btn btn-sm btn-danger ">  STUDENTS IN </button></th>
                  <th ><button  routerLink="out"  class="btn btn-sm btn-danger ">  STUDENTS OUT </button></th>
              </tr>
          </thead>
          <tbody>
              <tr class=" text-dark " >
                <td class="text-center"> <strong>{{cnt}}</strong></td>
                  <td  class="text-center" > <strong>{{array[0].a}}</strong></td>
                  <td  class="text-center" > <strong>{{array[1].a}}</strong></td>
                
                  </tr>      
              </tbody>
              </table>
          
              </div>
    </table> 
    
    </div>

  










<router-outlet></router-outlet>
</div>