<div class="dropdown mx-5 mt-5">
  <button class="btn btn-secondary  dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"  aria-expanded="false">
  Select one
  </button>



  <ul class="dropdown-menu form-select" aria-label="Default select example" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" routerLink="in">STUDENTS IN </a></li>
    <li><a class="dropdown-item" routerLink="out">STUDENTS OUT</a></li>
    <li><a class="dropdown-item" routerLink="range">DATE RANGE DATA</a></li>
  </ul>
<div>


<div class="mt-5">
  <div>
    <h1 class="text-dark d-inline"> TOTAL STUDENTS     <img src="https://www.pngitem.com/pimgs/m/81-815572_student-university-college-cartoon-clip-art-college-students.png" alt="" width="35px">   <span class="text-warning">{{cnt}}</span>   </h1>
 
  </div>
  <div >
    <h1 class="text-dark d-inline">  STUDENTS  IN    <img src="https://www.pngitem.com/pimgs/m/81-815572_student-university-college-cartoon-clip-art-college-students.png" alt="" width="35px">  <span class="text-warning">{{incnt}}</span>   </h1>
 
  </div>
  <div >
    <h1 class="text-dark d-inline"> STUDENTS  OUT     <img src="https://www.pngitem.com/pimgs/m/81-815572_student-university-college-cartoon-clip-art-college-students.png" alt="" width="35px"> <span class="text-warning">{{outcnt}}</span>   </h1>
 
  </div>

</div>

  










<router-outlet></router-outlet>
</div>