


<h1 class="text-dark text-center">({{vals[0].rno}})   -  {{vals[0].studentname}} ({{vals[0].rno}}) </h1>
<table class="table text-dark  mt-5 " >
    <div class="background w-75 d-block mx-auto">
    <table class="table table-striped text-dark  p-5 backc" >
        <thead>
            <tr>
                <th>ROLL NUMBER</th>
                <th>STUDENT NAME</th>
                <th>YEAR</th>
                <th>BRANCH</th>
                <th>GENDER</th>
                <th>ROOM NUMBER</th>
              <th>  <span class="ms-3 me-5">  DATE  </span >   TIME</th>
                <th>IN/OUT</th>
                <th>bid</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of vals  | paginate: 
            { itemsPerPage: 5, currentPage: d }">
                <td > <strong>{{p.rno}}</strong></td>
                <td> <strong>{{p.studentname}}</strong></td>
                <td> <strong>{{p.year}}</strong></td>
                <td> <strong>{{p.branch}}</strong></td>
                <td> <strong>{{p.gender}}</strong></td>
                <td> <strong>{{p.room_no}}</strong></td>  
                <td><strong>{{p.logdate}}</strong></td>
                <td><strong>{{p.C1}}</strong></td>
                <td><strong>{{p.bid}}</strong></td>
                </tr>      
                <pagination-controls (pageChange)="d = $event" class="float-right"></pagination-controls>
            </tbody>
            </table>
        
            </div>
</table> 
