<div class="background-image"></div>
<div class="container">
   <div class="row">
     

      <div class="login-form">
        <img class="vnr-image" src="https://upload.wikimedia.org/wikipedia/en/4/47/VNRVJIETLogo.png">
        <h2>VJ HOSTELS</h2>
        <form action="">

          <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" id="un" placeholder="User Name" name="username" [(ngModel)]="username">
          </div>


          <div class="textbox">
            <i class="fas fa-key"></i>
            <input type="password" id="ps" placeholder="Password" name="password" [(ngModel)]="password">
          </div>

          <div class="button"><button class="btn btn-primary text-white" (click)="logInUser()">Sign in</button></div>
          
        </form>
      
      </div>
      
      
      
     </div>

   
</div>









