<div class="background-image"></div>
<div class="container">
   <div class="row">
     
    <div class="textbox"> 
      <div class="login-form">
        <img class="vnr-image" src="https://upload.wikimedia.org/wikipedia/en/4/47/VNRVJIETLogo.png">
        <h2>VJ HOSTELS</h2>
        <form action="">

          <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" id="un" placeholder="username" name="username" [(ngModel)]="username">
          </div>


          <div class="textbox">
            <i class="fa fa-mobile"></i>
            <input type="password" id="ps" placeholder="mobile" name="ps" [(ngModel)]="password">
          </div>

          <div class="button"><button class="btn btn-primary text-white" (click)="ResetPassword()"> Reset </button></div>
          <br>
          <br>
          <div class="checkbox no-margin">
               <a routerLink="" class="text"> go to login </a>
          </div>
          <br>
        </form>
      
      </div>
    </div>
      
      
     </div>

   
</div>









