
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand " href="#">VNR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link active" routerLink="dashboard">Dashboard </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  routerLink="info" >Student INFO</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-success" (click)="userLogOut()" *ngIf="status">logout</button>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>
