/* You can add global styles to this file, and also import other style files */
/* body{

    background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/close-up-of-an-open-book-with-pages-stockbyte.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
} */

body{
    background-color:white;
}